.features {
  display: flex;
  flex-direction: row; /* Geändert: Jetzt ist die Hauptachse vertikal */
  align-items: center; /* Hinzugefügt: Zentriert die Elemente horizontal */
  justify-content: center; /* Hinzugefügt: Zentriert die Elemente vertikal */
  flex-wrap: wrap;
  border-spacing: 0;
  margin-top: 2rem;
}

.features > div {
  flex-shrink: 1;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: none;
  margin: 0;
  width: 350px; /* Fügt 100% Breite hinzu, damit die Bilder zentriert werden */
}

.features > div img {
    width: 100%;
    opacity: 0.4;
    transition: 0.3s;
  }

.features > div p {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    text-shadow: 0px 5px 10px #000;
    font-family: var(--font-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }  

.features > div img:hover {opacity: 1;}

@media screen and (max-width: 1050px) {
    .features {
        flex-direction: column;
        height: auto;
      }

      .features > div {
        width: 100%;
      }

      .features > div img {
        height: 300px;
        object-fit: cover;
      }

      .features > div p {
        top: 40%;
        font-size: 53px;
      }  
}

@media screen and (max-width: 700px) {
    .features > div img {
        height: 225px;
        object-fit: cover;
      }
      
    .features > div p {
        top: 40%;
        font-size: 43px;
      }  
}

@media screen and (max-width: 550px) {

    .features > div {
      flex: 1;
      margin: 1rem;
    }

    .features > div img {
        border-radius: 10px;
        height: 150px;
        object-fit: cover;
      }

      .features > div p {
        top: 40%;
        font-size: 28px;
      }  
}