.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem 6rem;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-links-logo {
    position: relative;
    margin-right: auto;
}

.navbar-links-logo img{
    width: 104px;
    height: 88px;
}

.navbar-links-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.navbar-links-container p,
.navbar-menu-container p {
    color: #fff;
    font-family: var(--font-family);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;

    margin: 0 1rem;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s;
}

.navbar-links-container p:hover {opacity: 1;}

.navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    padding: 2rem;
    position: absolute;
    top: 10px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    background-color: #1E1F22;
}

.navbar-menu-container p {
    margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
    .navbar-links-container {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        padding: 2rem 6rem;
        align-items: center;
    }

    .navbar-links-logo {
        display: flex;
        position: absolute;
        justify-content: center;
    }

    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 1rem 2rem;
    }

    .navbar-links-logo img{
        width: 100px;
        height: 50px;
    }
}
